<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>tone detecter</title>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input type="text" name="input" id="name">
                <input type="submit" name="" id="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
        </section>

        <section class="result">
            <p>Form Results:</p>
            <div id="results"></div>
        </section>
    </main>

</body>

</html>