form {
    padding: 40px;
    #submit:focus,
    #name:focus,
    #submit,
    #name {
        outline: none;
        background: none;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        &#name {
            padding-left: 10px;
            width: 75%;
        }
        &#submit {
            width: 20%;
        }
    }
}

.result {
    padding-left: 40px;
    color: white;
    font-family: 'Rowdies', cursive;
    font-weight: bold;
    #result {
        font-weight: normal;
    }
}